body {
    background: url('pxfuel.jpg');
    justify-content: center;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

}

@media screen and (max-width: 768px) {

    .tituloLand {
        color: aliceblue;


        background: rgba(161, 215, 246, 0.3);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.2px);
        -webkit-backdrop-filter: blur(11.2px);
        border: 1px solid rgba(161, 215, 246, 0.3);
        font: 1.2rem "Fira Sans", sans-serif;
        font-size: 2rem;
        border-radius: 30px;
        width: 25rem;
        height: 8rem;

        margin: 3rem auto;

    }

    .tituloLand h1 {
        text-align: center;
    }

    .apresentacao {

        border-radius: 15px;
        font-size: 1rem;
        background-color: azure;
        opacity: 0.9;
        margin: 45px;
        width: 13rem;

    }

    .apresentacao h2 {

        text-align: center;
        font: 1.2rem "Fira Sans", sans-serif;


    }

    .textosBlabla {
        color: rgb(0, 162, 255);
        font: 1.2rem "Fira Sans", sans-serif;
        font-size: 2rem;
        display: grid;
        text-align: center;


    }

    .t1 {

        grid-column-start: 2;
        grid-column-end: 6;
        grid-auto-rows: 100px;
        border-radius: 15px;
        background-color: azure;
        opacity: 0.9;
        width: 30rem;

    }

    .t2 {

        grid-column-start: 6;
        grid-column-end: 6;
        grid-auto-rows: 300px;
        border-radius: 15px;
        background-color: azure;
        opacity: 0.9;
        width: 30rem;

    }

    .box {
        grid-column-start: 2;
        grid-column-end: 6;
        display: grid;
        width: 30rem;
        margin-bottom: 2rem;
        margin-left: 35rem;
        font-size: 80px;
        font-weight: 900;
        border: 5px solid #fff;
        border-radius: 15px;
        text-align: center;
        background-color: rgb(231, 242, 252);
        opacity: 0.7;
        color: black
    }
}